
{{#if hospital}}
<div class="card">
    <div class="card-body">
        <a href="/hospital/" class="position-absolute top-0 start-0 ms-2 mt-2 " title="Voltar">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
  </a>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">Razão Social</span>
            <input name="razaoSocial" type="text" class="form-control" placeholder="{{hospital.razaoSocial}}" disabled>
        </div>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">Nome Fantasia</span>
            <input name="nomeFantasia" type="text" class="form-control" placeholder="{{hospital.nomeFantasia}}"
                disabled>
        </div>
        <div class="mb-3 mt-4">
            <div class="input-group">
                <span class="input-group-text">CNPJ</span>
                <input name="cnpj" type="text" class="form-control" placeholder="{{hospital.cnpj}}" disabled>
                <span class="input-group-text">Telefone</span>
                <input name="telefone" type="text" class="form-control" placeholder="{{hospital.telefone}}" disabled>
            </div>
        </div>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">E-mail</span>
            <input name="email" type="text" class="form-control" placeholder="{{hospital.email}}" disabled>
            <span class="input-group-text">Celular</span>
            <input name="celular" type="text" class="form-control" placeholder="{{hospital.celular}}" disabled>
        </div>
        <br>
        <div class="mb-3 mt-2">
            <label for="basic-url" class="form-label">Endereço:</label>
            <div class="input-group">
                <span class="input-group-text">Rua</span>
                <input name="rua" type="text" class="form-control" placeholder="{{endereco.rua}}" disabled>
                <span class="input-group-text">Bairro</span>
                <input name="bairro" type="text" class="form-control" placeholder="{{endereco.bairro}}" disabled>
            </div>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text">Cidade</span>
            <input name="cidade" type="text" class="form-control" placeholder="{{endereco.cidade}}" disabled>
            <span class="input-group-text">Estado</span>
            <select name="estado" class="form-select" aria-placeholder="{{endereco.estado}}" disabled>
                <option value="1">{{endereco.estado}}</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span class="input-group-text">CEP</span>
            <input name="cep" type="text" class="form-control" placeholder="{{endereco.cep}}" disabled>
        </div>
        <a href="/hospital/editarHospital/{{hospital._id}}"><button type="button" class="btn btn-success mt-4 mb-4">Editar</button></a>
    </div>
</div>
{{/if}}

<script>

    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    });
    myModal.show(); 
</script>