{{#if erros}}
<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erro!</h5>
        <a class="btn-close" href="/hospital/editarHospital/{{id}}"></a>
      </div>
      <div class="modal-body">
        {{#each erros}}
          <p class="alert alert-danger flex-row">{{menssagem}}</p>
        {{/each}}
      </div>
      <div class="modal-footer">
         <a href="/hospital/editarHospital/{{id}}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button></a>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if hospital}}
<div class="container text-center  d-flex align-items-center h-100">
  <div class="card align-self-center w-100">
    <div class="card-body">
        <form action="/hospital/editHospital" method="post">
        <input type="hidden" name="id" value="{{hospital._id}}">
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">Razão Social</span>
            <input name="razaoSocial" type="text" class="form-control text-uppercase" value="{{hospital.razaoSocial}}">
        </div>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">Nome Fantasia</span>
            <input name="nomeFantasia" type="text" class="form-control text-uppercase" value="{{hospital.nomeFantasia}}">
        </div>
        <div class="mb-3 mt-4">
            <div class="input-group">
                <span class="input-group-text">CNPJ</span>
                <input name="cnpj" type="text" class="form-control text-uppercase" value="{{hospital.cnpj}}">
                <span class="input-group-text">Telefone</span>
                <input name="telefone" type="text" class="form-control text-uppercase" value="{{hospital.telefone}}">
            </div>
        </div>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">E-mail</span>
            <input name="email" type="text" class="form-control text-uppercase" value="{{hospital.email}}">
            <span class="input-group-text">Celular</span>
            <input name="celular" type="text" class="form-control text-uppercase" value="{{hospital.celular}}">
        </div>
        <br>
        <div class="mb-3 mt-2">
            <label for="basic-url" class="form-label">Endereço:</label>
            <div class="input-group">
                <span class="input-group-text">Rua</span>
                <input name="rua" type="text" class="form-control text-uppercase" value="{{endereco.rua}}">
                <span class="input-group-text">Bairro</span>
                <input name="bairro" type="text" class="form-control text-uppercase" value="{{endereco.bairro}}">
            </div>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text">Cidade</span>
            <input name="cidade" type="text" class="form-control text-uppercase" value="{{endereco.cidade}}">
            <span class="input-group-text">Estado</span>
            <select name="estado" class="form-select"> 
                <option value="{{endereco.estado}}">{{endereco.estado}}</option>
                <hr>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span class="input-group-text">CEP</span>
            <input name="cep" type="text" class="form-control text-uppercase" value="{{endereco.cep}}">
        </div>
        <button type="submit" class="btn btn-success mt-4 mb-4">Salvar</button>
        <a href="/hospital/detalheHospital/{{hospital._id}}"><button type="button" class="btn btn-danger mt-4 mb-4">Cancelar</button></a>
        </form>
    </div>
</div>
{{/if}}

<script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    });
    myModal.show(); 
</script>