<div class=" h-75 ps-2 ">
    <div class="row w-100 mt-3 ps-2">
        <div class="col card">
            <div class="card-body">
                <div class="form">
                    <form action="/hospital/filtro" method="post">
                        <h5 class="row mt-4 ms-1">Fitrar Por:</h5>
                        <select name="selectFiltro" id="" class="form-control">
                            <option value="todos">Todos Hospitais</option>
                            <hr>
                            <option value="nomeFantasia">Nome Fantasia</option>
                            <option value="cnpj">CNPJ</option>
                        </select>
                        <input type="text" name="inputFiltro" id="" class=" mt-2 form-control text-uppercase">
                        <button type="submit" class="btn btn-secondary mt-2 ">Filtrar</button>
                    </form>
                </div>
                <div class="buttons mt-4">
                    <a href="/hospital/novoHospital" class="pt-4"><button type="menu" class="btn btn-outline-success">Cadastrar Hospital</button></a>
                    <a href="#"></a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="table-container">
                <div class="table-responsive " style="height: 30rem; overflow-y: auto;">
                    <table class="table table-hover table-bordered table-info table-sm">
                        <thead class="table-light">
                            <tr class="sticky">
                                <th class="col-5">Nome Fantasia</th>
                                <th class="col-2">CNPJ</th>
                                <th class="col-2">Telefone</th>
                                <th class="col-2">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                             {{#each hospitais}}
                            <tr>
                                <td ><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/hospital/detalheHospital/{{_id}}">{{nomeFantasia}}</a></td>
                                <td ><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/hospital/detalheHospital/{{_id}}">{{cnpj}}</a></td>
                                <td ><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/hospital/detalheHospital/{{_id}}">{{celular}}</a></td>
                                <td ><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/hospital/detalheHospital/{{_id}}">{{email}}</a></td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="4">Nenhum hospital encontrado!</td>
                            </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>