<div class=" h-100 ps-2 ">
    <div class="row w-100 mt-3 ps-2">
        <div class="col card">
            <div class="card-body">
                <div class="form">
                    <form action="/item/filtro" method="post">
                        <h5 class="row mt-4 ms-1">Fitrar Por:</h5>
                        <select name="selectFiltro" id="" class="form-control">
                            <option value="todos">Todos Itens</option>
                            <hr>
                            <option value="codigo">Código</option>
                            <option value="descricao">Descrição</option>
                            <option value="tipoCirurgia">Tipo de Cirurgia</option>
                        </select>
                        <input type="text" name="inputFiltro" id="" class=" mt-2 form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Filtrar</button>
                    </form>
                </div>
                <div class="buttons mt-4">
                    <a href="/item/novoItem" class="pt-4"><button type="menu" class="btn btn-outline-success">Cadastrar
                            Item</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-container">
                <div class="table-responsive " style="height: 30rem; overflow-y: auto;">
                    <table class="table table-hover table-bordered table-info table-sm">
                        <thead class="table-light">
                            <tr class="sticky-top">
                                <th class="col-2">Código</th>
                                <th class="col-5">Descrição</th>
                                <th class="col-2">Tipo de Cirurgia</th>
                                <th class="col-1">QTD</th>
                            </tr>
                        </thead>    
                        {{#if item}}
                        <tbody>
                            <tr>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/item/detalheItem/{{_id}}">{{item.codigo}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/item/detalheItem/{{_id}}">{{item.descricao}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/item/detalheItem/{{_id}}">{{item.tipoCirurgia}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/item/detalheItem/{{_id}}">{{item.quantidade}}</a></td>
                            </tr>
                        </tbody>
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>