
<div class=" h-75 ps-2 ">
    <div class="row w-100 mt-3 ps-2">
        <div class="col card">
            <div class="card-body">
                <div class="form">
                    <form action="/usuario/filtro" method="post">
                        <h5 class="row mt-4 ms-1">Fitrar Por:</h5>
                        <select name="selectFiltro" id="" class="form-control">
                            <option value="todos">Todos Usuarios</option>
                            <hr>
                            <option value="nome" >Nome</option>
                            <option value="nick">Nick</option>
                            <option value="nivelUsuario">Nivel Usuario</option>
                        </select>
                        <input type="text" name="inputFiltro" id="" class=" mt-2 form-control text-uppercase">
                        <button type="submit" class="btn btn-secondary mt-2">Filtrar</button>
                    </form>
                </div>
                <div class="buttons mt-4">
                    <a href="/usuario/novoUsuario" class="pt-4"><button type="menu" class="btn btn-outline-success">Cadastrar
                            Usuario</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div lass="table-container">
                <div class="table-responsive " style="height: 30rem; overflow-y: auto;">
                    <table class="table table-hover table-bordered table-info table-sm">
                        <thead class="table-light">
                            <tr class="sticky">
                                <th class="col-md-auto">Nome</th>
                                <th class="col-md-auto">nick</th>
                                <th class="col-md-auto">nivel de usuario</th>
                            </tr>
                        </thead>    
                        {{#if usuario}}
                        <tbody>
                            <tr>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/usuario/detalheUsuario/{{_id}}">{{usuario.nome}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/usuario/detalheUsuario/{{_id}}">{{usuario.nick}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/usuario/detalheUsuario/{{_id}}">{{usuario.nivelUsuario}}</a></td>
                                
                            </tr>
                        </tbody>
                        {{else}}
                        <tr>
                            <td colspan="4">Nenhum usuario encontrado!</td>
                        </tr>
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>