
<div class=" h-75 ps-2 ">
    <div class="row w-100 mt-3 ps-2">
        <div class="col card">
            <div class="card-body">
                <div class="form">
                    <form action="/paciente/filtro" method="post">
                        <h5 class="row mt-4 ms-1">Fitrar Por:</h5>
                        <select name="selectFiltro" id="" class="form-control">
                            <option value="todos">Todos Paciente</option>
                            <hr>
                            <option value="nome">Nome</option>
                            <option value="especializacao">CPF</option>
                            <option value="email">RG</option>
                        </select>
                        <input type="text" name="inputFiltro" id="" class=" mt-2 form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Filtrar</button>
                    </form>
                </div>
                <div class="buttons mt-4">
                    <a href="/paciente/novoPaciente" class="pt-4"><button type="menu" class="btn btn-outline-success">Cadastrar
                            Pacientes</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-container">
                <div class="table-responsive " style="height: 30rem; overflow-y: auto;">
                    <table class="table table-hover table-bordered table-info table-sm">
                        <thead class="table-light">
                            <tr class="sticky-top">
                                <th class="col-md-auto">Nome</th>
                                <th class="col-md-auto">E-mail</th>
                                <th class="col-md-auto">CPF</th>
                                <th class="col-md-auto">RG</th>
                            </tr>
                        </thead>    
                        {{#if paciente}}
                        <tbody>
                            <tr>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/paciente/detalhepaciente/{{_id}}">{{paciente.nome}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/paciente/detalhepaciente/{{_id}}">{{paciente.email}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/paciente/detalhepaciente/{{_id}}">{{paciente.cpf}}</a></td>
                                <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/paciente/detalhepaciente/{{_id}}">{{paciente.rg}}</a></td>
                            </tr>
                        </tbody>
                        {{else}}
                        <tr>
                            <td colspan="4">nenhum paciente encontrado</td>
                        </tr>
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>